[workspace]

resolver = "2"

members = ["cli", "lib", "node"]

[profile.release]
codegen-units = 1
lto = true
panic = "abort"
strip = "symbols"

[profile.dev.package]
insta.opt-level = 3
similar.opt-level = 3
