[tools]
"cargo:cargo-nextest" = "0.9.92"
node = "24.11.1"
"cargo:cargo-dist" = "0.30.0"
python = "3.14.2"
"cargo:cargo-insta" = "1.42.2"
"cargo:cargo-edit" = "latest"
uv = "latest"
yarn = "latest"
rust = "latest"

[settings]
python.uv_venv_auto = true

[task_config]
includes = [
  "tasks.toml",
  "lib/tasks.toml",
  "cli/tasks.toml",
  "node/tasks.toml",
  "python/tasks.toml",
]
