[tools]
node = "22.11.0"
gradle = "7.5.1"
kotlin = "2.0.21"
java = "adoptopenjdk-21.0.5+11.0.LTS"
python = "3.13.0"
pnpm = "9.13.2"

[task_config]
includes = [
  "tasks.toml",
  "cli/tasks.toml",
  "bindings/java/tasks.toml",
  "bindings/node/tasks.toml",
]
