[tools]
node = "22.11.0"
gradle = "8.11"
kotlin = "2.0.21"
java = "adoptopenjdk-21.0.5+11.0.LTS"
python = "3.13.0"
act = "0.2.69"
"cargo:cargo-insta" = "1.41.1"
"cargo:cargo-dist" = "0.25.1"
"cargo:cargo-nextest" = "0.9.84"
"pipx:maturin" = "latest"


[env]
_.python.venv = { path = "bindings/python/.venv", create = true }

[task_config]
includes = [
  "tasks.toml",
  "lib/tasks.toml",
  "cli/tasks.toml",
  "bindings/java/tasks.toml",
  "bindings/node/tasks.toml",
  "bindings/python/tasks.toml",
]
