[tools]
node = "22.11.0"
gradle = "8.11"
kotlin = "2.0.21"
java = "adoptopenjdk-21.0.5+11.0.LTS"
python = "3.13.0"
act = "0.2.69"

[task_config]
includes = [
  "tasks.toml",
  "lib/tasks.toml",
  "cli/tasks.toml",
  "bindings/java/tasks.toml",
  "bindings/node/tasks.toml",
]
