run = "cargo run -p cli"

[clean]
run = "cargo clean"

["clean:all"]
depends = ["clean:*"]
run = "rm -rf **/*.odict"

[test]
run = "cargo nextest run --all-features --verbose"

[test-all]
depends = ["test", "test:*"]

[setup]
depends = ["setup:*"]
run = ["mise install", "corepack enable", "pnpm install"]

["build-all"]
depends = ["build:*"]

["default"]
run = "mise run build"
