run = "cargo run -p odict-cli"

[clean]
run = "cargo clean"
description = "Removes all Rust build artifacts via Cargo"

["clean:all"]
run = "git clean -xdf"
description = "Recursively cleans all packages in the project"

["update-snaps"]
run = "cargo insta accept"
description = "Updates all Insta snapshot tests"

[test]
run = "cargo nextest run -p odict-cli -p odict --all-features --verbose"
description = "Runs nextest on all Cargo packages"

["test-all"]
depends = ["test", "test:*"]
description = "Recursively tests all packages in the project"

[setup]
run = ["mise install", "corepack enable", "pnpm install"]
depends_post = ["setup:*"]
description = "Installs all required dependencies"

["build-all"]
depends = ["build:*"]
description = "Recursively builds all packages in the project"

["ci"]
run = 'mise x act -- act ci --container-architecture linux/amd64 --bind --job {{arg(name="job_id")}}'
hide = true

["default"]
run = "mise run build"
description = "Builds the project"
