[package]
name = "odict-cli"
version = "2.0.0"
edition = "2024"
description = "Lightning-fast dictionary file format and toolchain"
homepage = "https://odict.org"
repository = "https://github.com/TheOpenDictionary/odict"

[[bin]]
name = "odict"
path = "src/main.rs"

[dependencies]
odict = { path = "../lib", features = [
    "config",
    "sql",
    "search",
    "html",
    "json",
    "tokenize-all",
] }
clap = { version = "4.5.4", features = ["derive", "cargo"] }
console = "0.15.8"
indicatif = "0.17.8"
pulldown-cmark = "0.13.0"
actix-web = "4.5.1"
serde = { version = "1.0.200", features = ["derive"] }
env_logger = "0.11.3"
derive_more = { version = "2", features = ["display", "error"] }
num-format = "0.4.4"
humansize = "2.1.3"
anyhow = "1.0.94"
