[package]
name = "cli"
version = "2.0.0"
edition = "2021"

[dependencies]
odict = { path = "../lib" }
clap = { version = "4.4.18", features = ["derive", "cargo"] }
console = "0.15.8"
serde = "1.0.196"
serde_json = "1.0.112"
clio = "0.3.5"
quick-xml = { version = "0.31.0", features = ["serde", "serialize"] }
regex = "1.10.3"
once_cell = "1.19.0"
termimad = "0.29.1"
