[package]
name = "cli"
version = "2.0.0"
edition = "2021"
publish = false

[dependencies]
odict = { path = "../lib", features = [
    "config",
    "charabia",
    "search",
    "serve",
    "dump",
] }
clap = { version = "4.4.18", features = ["derive", "cargo"] }
console = "0.15.8"
once_cell = "1.19.0"
indicatif = "0.17.8"
termimad = "0.29.1"
