["setup:node"]
run = "pnpm install"
sources = ["${MISE_TASK_DIR}/package.json"]
outputs = { auto = true }

["build:node"]
depends = ["setup:node"]
run = "pnpm --filter=\"@odict/node\" build"

["build:wasm"]
depends = ["setup:node"]
run = "pnpm --filter=\"@odict/node\" build:wasm"

["dev:wasm"]
depends = ["build:wasm"]
run = "pnpm --filter=\"@odict/node\" dev:wasm"

["publish:node"]
depends = ["setup:node"]
run = "pnpm --filter=\"@odict/node\" npm publish"

["test:node"]
depends = ["setup:node", "build:node"]
run = "pnpm --filter=\"@odict/node\" test -- "

["snapshot:node"]
depends = ["setup:node", "build:node"]
run = "pnpm --filter=\"@odict/node\" test -u -- "

["ci:node"]
depends = ["setup:node"]
run = 'mise x act -- act napi --container-architecture linux/amd64 --bind --job {{arg(name="job_id")}}'
hide = true
