:root {
  --background: var(--color-gray-50);
  --foreground: var(--color-gray-900);

  --sl-font: var(--font-sans);

  --sl-color-accent-high: var(--color-white);
  --sl-color-accent: var(--color-accent-800);

  --sl-color-blue-high: var(--color-blue-700);
  --sl-color-blue-low: var(--color-blue-100);

  --sl-color-bg: var(--background);
  --sl-color-bg-nav: var(--background);
  --sl-color-bg-sidebar: var(--background);
  --sl-color-hairline: --alpha(var(--foreground) / 10%);
  --sl-color-input: --alpha(var(--foreground) / 5%);

  --ec-frm-edBg: --alpha(var(--color-white)/4%);
  --ec-brdRad: 0.8rem;
}

ul {
  --sl-sidebar-item-padding-inline: 0.4rem;
}

.main-frame:not(*:has(.right-sidebar)) {
  --sl-content-width: 60rem;
}

[data-theme="dark"] {
  --foreground: var(--color-white);
  --background: var(--color-gray-900);
  --sl-color-blue-high: var(--color-blue-200);
  --sl-color-blue-low: var(--color-blue-900);
}
