@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tw-animate-css";
@import "./starlight/starlight.css";

@theme {
  --font-display: var(--ff-display);
  --font-sans: var(--ff-sans);
  --font-mono: "IBM Plex Mono";

  --color-accent-50: var(--color-stone-50);
  --color-accent-100: var(--color-stone-100);
  --color-accent-200: var(--color-stone-200);
  --color-accent-300: var(--color-stone-300);
  --color-accent-400: var(--color-stone-400);
  --color-accent-500: var(--color-stone-500);
  --color-accent-600: var(--color-stone-600);
  --color-accent-700: var(--color-stone-700);
  --color-accent-800: var(--color-stone-800);
  --color-accent-900: var(--color-stone-900);
  --color-accent-950: var(--color-stone-950);

  --color-gray-50: var(--color-stone-50);
  --color-gray-100: var(--color-stone-100);
  --color-gray-200: var(--color-stone-200);
  --color-gray-300: var(--color-stone-300);
  --color-gray-400: var(--color-stone-400);
  --color-gray-500: var(--color-stone-500);
  --color-gray-600: var(--color-stone-600);
  --color-gray-700: var(--color-stone-700);
  --color-gray-800: var(--color-stone-800);
  --color-gray-900: var(--color-stone-900);
  --color-gray-950: var(--color-stone-950);
}

@theme inline {
  --color-foreground: var(--foreground);
}

body {
  @apply antialiased;
}

* {
  border-color: var(--sl-color-hairline);
}
