name: Build & Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Build
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - name: linux-amd64
            runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - name: win-amd64
            runner: windows-latest
            target: x86_64-pc-windows-msvc
          - name: macos-amd64
            runner: macos-latest
            target: x86_64-apple-darwin
          - name: macos-arm64
            runner: macos-latest
            target: aarch64-apple-darwin
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: "${{ matrix.target }}"
      - name: Setup Mise
        uses: jdx/mise-action@v2
        with:
          install: true
          install_args: "cargo:cargo-nextest"
      - name: Add Rust target 
        run: rustup target add ${{ matrix.target }}
      - name: Cache Rust
        uses: Swatinem/rust-cache@v2      
      - name: Build CLI
        run: mise run build --verbose --locked --target ${{ matrix.target }}
      - name: Run tests
        run: mise run test --verbose --target ${{ matrix.target }}
      - uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: code
          path: /home/runner/work/odict
