name: Deploy

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Semantic version number'     
        required: true
      changes:
        description: 'Description of changes'
        required: true

env:
  GO_VERSION: "^1.18"
  JAVA_VERSION: 11

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Setup Bazelisk
        run: |
          go get github.com/bazelbuild/bazelisk
          export PATH=$PATH:$(go env GOPATH)/bin

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v4
        with:
          gpg_private_key: ${{ secrets.MAVEN_KEY }}
          passphrase: ${{ secrets.MAVEN_KEY_PASSPHRASE }}

      - name: Update version number 
        run: echo 'version="${{ github.event.inputs.version }}"' > version.bzl

      - name: Tag & commit version number
        uses: EndBug/add-and-commit@v9 # You can change this to use a specific version.
        with:
          add: 'version.bzl'
          message: 'chore(*): Bump version number to ${{ github.event.inputs.version }}'
          push: true
          tag: "${{ github.event.inputs.version }} --force"
          tag_push: '--force'

      - name: Deploy to Maven
        run: |
          export GPG_TTY=$(tty)
          bazelisk run --stamp --define "maven_repo=https://s01.oss.sonatype.org/service/local/staging/deploy/maven2" --define "maven_user=${{ secrets.MAVEN_USERNAME }}" --define "maven_password=${{ secrets.MAVEN_PASSWORD }}" --define gpg_sign=true //java/main/java/org/odict:odict.publish
                    