name: Release Please

on:
  workflow_dispatch: 
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - id: release
        name: Release please
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GH_PAC }}