name: Release Please 

on:
   push:
     branches:
       - main
       
permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4      
      - id: release
        name: Release please
        uses: google-github-actions/release-please-action@v3.7.6
        with:
          command: manifest
          token: ${{ secrets.GITHUB_TOKEN }}
          monorepo-tags: true
          bump-patch-for-minor-pre-major: true
      - name: Setup asdf
        uses: asdf-vm/actions/setup@v2
      - name: Cache asdf
        id: cache-asdf
        uses: actions/cache@v3
        with:
          path: |
            /home/runner/.asdf
          key: ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-asdf-
      - name: Install dependencies in .tool-versions
        uses: asdf-vm/actions/install@v2
      - name: Publish CLI
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish to NPM
        if: steps.release.outputs.js--release_created
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: just js publish
      - name: Publish to Pypi
        if: steps.release.outputs.python--release_created
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
        run: just python publish